// Header hiding
@mixin transition($transition-property, $transition-time, $method) {
  transition: $transition-property $transition-time $method;
}

@mixin transform($transforms) {
  transform: $transforms;
}

.avatar-photo {
  border-radius: 150px;
  display: block;
  position: relative;
}

.intro-photo {
  float: left;
}

.intro-description {
  overflow: hidden;
  padding-left: 25px;
}

.header-intro {
  font-family: $title-font-family;
  font-size: 18px;
  line-height: 28px;
}

.avatar {
  width: 55px;
  height: 55px;
  position: absolute;
  border-radius: 80%;
  overflow: hidden;
  display: block;
}

.site-header {
  margin-bottom: 21px;
  position: relative;
  // margin: 0 auto;
  text-align: center;
  max-width: 1024px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
}

.meta-container {
  position: relative;
}

.rss-link {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 17px;
  color: #b3b3b3;

  &:hover {
    background-color: #fff;
    color: $brand-color;
  }
}

.site-footer {
  padding: 40px 0 0 0;
  margin-top: 100px;
}

.site-footer p {
  color: #bbb;
  font-size: 14px;
  line-height: 1.5;
  display: block;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;
}

.post-item {
  margin-bottom: $spacing-unit;
}

.post-list {
  margin-top: 50px;
}

.post-item {
  list-style-type: none;
  padding-top: 30px;
  border-top: 1px solid #dfe1e4;

  a {
    transition: color 0.15s ease;
  }

  h2 {
    transition: color 0.15s ease;
  }

  .dates {
    transition: color 0.15s ease;
  }

  &:hover {
    a {
      text-decoration: none;
      color: $brand-color;
      background-color: #fff;
    }
    h2 {
      color: $brand-color;
    }

    .dates {
      text-decoration: none;
      color: $brand-color;
      background-color: #fff;
    }
  }

  a {
    color: #333;
    display: block;
    font: 600 22px/1.7 $title-font-family;
  }

  h2 {
    font: normal 19px/1.5em $base-font-family;
    color: #aaa;
    max-width: 550px;
    margin-top: 2px;
  }

  .dates {
    float: right;
    position: relative;
    top: 1px;
    font: 300 17px/1.8 $base-font-family;
    color: #bbb;
  }
}

.post-list li:last-child {
  margin-bottom: 0;
}

#intro-text {
  padding-top: 10px;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-family: $title-font-family;
    letter-spacing: -0.5px;
    font-size: 35px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-family: $title-font-family;
    letter-spacing: -0.5px;
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 0px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-family: $title-font-family;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 5px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }

  h5 {
    font-family: $title-font-family;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 5px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

.related {
  padding-top: 20px;
}
.related li {
  list-style: none;
}
.related li .post-meta {
  font-size: 15px;
}
.related a:link,
.related a:hover {
  text-decoration: none;
}

// PAGINATION
.pagination {
  border-top: 1px solid #eee;
  margin-top: 50px;
  padding-top: 20px;
}

.pagination-link {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  border-radius: 4px;
  padding: 7px 18px 6px;
  box-shadow: 0 0 0 1px hsla(5, 84%, 64%, 1);
}

span.arrow {
  position: relative;
  top: 0;
  font-size: 17px;
}
